<div class="h-screen flex justify-center items-center">
    <div
        class="flex flex-col justify-center items-center gap-6 bg-neutral-950 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 shadow-md p-4"
    >
        <div class="text-2xl">Welcome Back!</div>

        <form [formGroup]="loginForm" class="text-black">
            <!-- <app-input [control]="loginForm.get('name')"></app-input> -->
            <app-input [control]="loginForm.controls.name"></app-input>
        </form>

        <div class="w-full">
            <button
                class="w-full py-2 bg-indigo-700 hover:bg-indigo-800 rounded-md text-lg mb-2"
            >
                Log in
            </button>
            <div class="text-xs text-center">
                <span class="text-neutral-300">
                    Don't have an account yet?
                </span>
                <a routerLink="/signin" class="hover:underline text-indigo-700">
                    Join Now!
                </a>
            </div>
        </div>
    </div>
</div>
