<div class="h-screen flex justify-center items-center">
    <div
        class="flex flex-col justify-center items-center gap-6 bg-neutral-950 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 shadow-md p-12"
    >
        <div class="text-6xl font-semibold">Welcome Back!</div>

        <form
            [formGroup]="loginForm"
            class="flex flex-col justify-center items-center gap-6 w-full"
        >
            <!-- <app-input [control]="loginForm.get('name')"></app-input> -->
            <app-input
                class="w-full"
                label="username"
                type="text"
                [control]="loginForm.controls.username"
            ></app-input>

            <app-input
                class="w-full"
                label="email"
                type="email"
                [control]="loginForm.controls.email"
            ></app-input>

            <app-input
                class="w-full"
                label="password"
                type="password"
                [control]="loginForm.controls.password"
            ></app-input>
        </form>

        <div class="w-full mt-4">
            <button
                class="w-full py-3 bg-indigo-700 hover:bg-indigo-800 rounded-md text-lg mb-2"
            >
                Log In
            </button>
            <div class="text-xs text-center">
                <span class="text-neutral-300">
                    Don't have an account yet?
                </span>
                <a routerLink="/signin" class="hover:underline text-indigo-700">
                    Join Now!
                </a>
            </div>
        </div>
    </div>
</div>
