<main class="bg-neutral-900 h-full text-white">
    <div
        class="bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 p-4 flex justify-between items-center fixed w-full"
    >
        <div class="flex items-center gap-4">
            <div class="w-10 h-10">
                <img
                    src="assets/svgs/key.svg"
                    class="w-full h-full"
                    alt="logo"
                />
            </div>
            <div class="text-2xl font-semibold">Macio Wearhouse</div>
        </div>
        <div class="flex gap-16 text-lg">
            <a href="" class="hover:underline">About Us</a>
            <a href="" class="hover:underline">Pricing</a>
            <a href="" class="hover:underline">Work For Us</a>
            <a href="" class="hover:underline">Contact</a>
        </div>
        <div>
            <button class="mx-8 text-lg hover:text-indigo-700">Log in</button>
            <button
                class="px-8 py-2 bg-indigo-700 hover:bg-indigo-800 rounded-md text-lg"
            >
                Sign in
            </button>
        </div>
    </div>

    <div class="pt-28 grid grid-cols-2 max-w-screen-2xl mx-auto">
        <div class="mt-48">
            <div class="text-8xl tracking-tighter font-semibold leading-tight">
                Do you want to, <br />
                <span class="text-indigo-800">rent</span>
                a car?
            </div>
            <div class="mt-8 text-lg opacity-90">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea,
                commodi natus <br />
                aspernatur modi aut architecto magni accusamus atque maiores
                reiciendis <br />
                eum earum! Molestiae explicabo accusamus voluptas et laboriosam
                sequi tenetur!
            </div>
        </div>
        <div
            class="mx-24 bg-gradient-to-b from-indigo-800 to-indigo-700 rounded-2xl pb-56"
        >
            <img
                src="assets/images/BMW-black.png"
                class="mt-44 scale-125"
                alt="BMW photo"
            />
        </div>
    </div>
</main>
